
@import "../../vars.css";

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  z-index:2;
  width:100%;
  background-color: rgb(253, 254, 255);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.rBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  width: 44px;
  height: 44px;
  background: linear-gradient(135deg, #e754ec, #8a2be2);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}


.menuBtn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;

}

.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.menuItems li a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(222, 223, 226, 0.2) 0%,
      rgb(238, 240, 245) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
  }
}
